<!--
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>
  <!-- Load the parameters -->
  <rosparam command="load" file="$(find slam)/params/slam_params.yaml"/>
  <rosparam command="load" file="$(find slam)/params/ros_params.yaml"/>

  <node name="pose2D_delta" pkg="slam" type="pose2D_delta.py" respawn="true" output="screen"/>


  <remap from="/vel" to="/cmd_vel"/>
  <remap from="/imu/data" to="/imu/yaw/data"/>

  <!-- Arguements for this node are already loaded on the param server from the yaml files -->
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node_slam" output="screen"/>


  <node pkg="rviz" type="rviz" name="rviz_mrorton"
        args="-d $(find slam)/rviz/xwam.rviz"/>

</launch>
